* {
    font-family: Quicksand, helvlight, helvetica
}
body {
    background-size: 100%
}
form,
p {
    color: #fff
}
#togetherfor {
    position: absolute;
    font-size: 300%;
    left: 60%;
    top: 10%
}
div {
    position: fixed;
    border: 3px solid #000;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    z-index: 101;
    background-image: url(images/divbg.png)
}
textarea.notes {
    width: 25%;
    height: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #000;
    background-color: #ddc08DFF
}
button#edit {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    right: 10px;
    bottom: 10px;
    display: none;
    position: fixed
}
p#time {
    font-size: 500%;
    text-align: center;
    border: 3px solid #000;
    background-image: url(images/divbg.png)
}
#CATTO {
    max-height: 85%;
    max-width: 85%;
    min-width: 40%;
    min-height: 40%
}
div>img {
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 2px;
    width: 70px;
    height: 70px;
    display: inline-block
}
div#buttons {
    position: relative;
    border: 0;
    z-index: 1001;
    background-image: none;
    text-align: justify
}
div#buttons::after {
    content: "";
    width: 100%;
    display: inline-block
}
p#greeting {
    font-size: 35px;
    text-align: center
}
button {
    cursor: pointer
}